<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/form.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div>
        @Html.ActionLink("Sisters","Index","Msister")
        @Html.ActionLink("History","Index","History")
    </div>*@

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
