@using Ambulance.Models
@model List<Ambulance.Models.PatCard>
@{
    ViewBag.Title = "CreateSp";
}

<h2>Пациенты на выписку из отделения №@Session["DepNumb"].ToString() </h2>

@using(Html.BeginForm("CreateSp","Doctor",FormMethod.Post)){
<table style="margin-left:40%">
    <tr><th>Фамилия пациента</th><th>Диагноз</th></tr>
    @foreach( var item in Model){
        <tr>
            @if(item.Diagn.Equals(string.Empty)){
                <td style="text-align:left">@Html.CheckBox("Id",false,@Html.Value(item.Id.ToString()))@Html.Label(item.Id.ToString(),item.Name)</td>
                 <td>@Html.MyTextbox("Str",item.Id.ToString(),item.Diagn,"unchecked") @*@Html.TextBox("Str",item.Diagn,Html.Id(item.Id.ToString()))*@</td>
            }else{
                 <td style="text-align:left">@Html.CheckBox("Id",true,@Html.Value(item.Id.ToString()))@item.Name</td>  
                <td>@Html.MyTextbox("Str",item.Id.ToString(),item.Diagn,"checked")</td>
            }
       
        </tr>
    }
        <tr><td><br/><br/><small><@Html.ActionLink("Назад","Index","Doctor")</small></td>
            <td><br/><br/><input type="submit" value="Подтвердить"/></td>
         </tr>
    
</table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        $(".checked").attr("disabled", false);
        $(".unchecked").attr("disabled", true);

        $("input[type='checkbox']").change(function () {
            console.log("Checked Action");
            var v = $(this).attr("id");
            $("input[type='text']").each(function () {
                var b = $(this).attr("id");
                if (v == b)
                    $(this).attr("class", "unchecked")
            });
        });
    </script>
}