@model Ambulance.historystr
@{
    ViewBag.Title = "Osmotr";
}

@Html.ValidationSummary(true)

<h2>Осмотр пациента</h2>
@*using(Html.BeginForm("AfterOsmotr","Doctor",new AjaxOptions{UpdateTargetId="success"})){*@
@using(Ajax.BeginForm("AfterOsmotr", "Doctor", new AjaxOptions {UpdateTargetId="success"}))
{
    <table style="margin-left:40%">
        <tr>
            <td>Введите дату осмотра</td>
            <td><input type="date" name="Date" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </td>    
            
            <td>@Html.DropDownListFor(a => a.ill_id, ViewBag.Slist as SelectList)</td>           
            <td><input type="submit" value="Добавить запись" /></td>
            <td>
                @Html.ValidationMessageFor(m => m.Date) 
                @Html.ValidationMessageFor(m => m.ill_id)
            </td>
        </tr>
    </table>
     
}
<div id="success"></div>
<br/><br />
<small style="margin-left:50%;">@Html.ActionLink("Назад","Index","Doctor")</small>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

}