@model Ambulance.m_sister

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление запии о мед.сестре</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<fieldset>
    <legend>m_sister</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.M_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.M_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.M_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.M_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtdNumb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtdNumb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_in)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_in)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_out)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_out)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
