@model Ambulance.doctors

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>doctors</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shifr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shifr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.d_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.d_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtdNumb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtdNumb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_in)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_in)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_out)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_out)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spec)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spec)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
