@model Ambulance.doctors

@{
    ViewBag.Title = "Details";
}

<h2>Информация о докторе</h2>

<fieldset>
    <legend>доктор</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.shifr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.shifr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.d_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.d_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtdNumb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtdNumb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_in)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_in)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date_out)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date_out)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spec)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spec)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
