@model Ambulance.doctors

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>doctors</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.shifr)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.shifr)
            @Html.ValidationMessageFor(model => model.shifr)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.d_name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.d_name)
            @Html.ValidationMessageFor(model => model.d_name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OtdNumb)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OtdNumb)
            @Html.ValidationMessageFor(model => model.OtdNumb)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_in)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_in)
            @Html.ValidationMessageFor(model => model.Date_in)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date_out)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date_out)
            @Html.ValidationMessageFor(model => model.Date_out)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Spec)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Spec)
            @Html.ValidationMessageFor(model => model.Spec)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
