@{
    ViewBag.Title = "AfterLogin";
}

 <i>Welcome @Session["LogedUserLogin"].ToString()</i><br />


<h2>Меню запросов</h2>


    <ul>
        <li>@Html.ActionLink("Отчет по заболеваемости за период","Report1","Reports")</li>
        <li>@Html.ActionLink("Отчет о пациентах для лечащих врачей","Report1","Reports")</li>
        <li>@Html.ActionLink("Отчет по заболеваемости за период","Report1","Reports")</li>
        <li>@Html.ActionLink("Отчет по заболеваемости за период","Report1","Reports")</li>
        <li>@Html.ActionLink("Отчет по заболеваемости за период","Report1","Reports")</li>
    </ul>

<br/><br/>
<div align="center"><small>@Html.ActionLink("Выход","Login","Home")</small></div>