@model Ambulance.ambulance_user

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login","Home", FormMethod.Post))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary(true)
if (ViewBag.Message !=  null)
{
    <div style="border: 1px solid red">
        @ViewBag.Message
    </div>
}

<table align="center">
    <tr>
        <td>@Html.LabelFor(a=>a.login)</td>
        <td>@Html.TextBoxFor(a=>a.login)</td>
        <td>@Html.ValidationMessageFor(a=>a.login)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(a=>a.password)</td>
        <td>@Html.PasswordFor(a=>a.password)</td>
        <td>@Html.ValidationMessageFor(a=>a.password)</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}